.container {
  margin-left: auto;
  margin-right: auto;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9, 56.25% */
  height: auto;
  margin-bottom: 5px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
a {
  text-decoration: none;
  font-family: "raleway-bold", arial;
  color: #4b4848;
}
a:hover {
  color: #ccc;
}
h1 {
  color: #4b4848;
  font-family: "raleway-regular", arial;
  display: block;
}
footer {
  position: fixed;
  bottom: 15px;
  clear: both;
  margin: 0 25px;
  padding: 5px 30px 5px 0px;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 1);
  font-family: "raleway-regular", arial;
  font-size: 10px;
  color: #4b4848;
  letter-spacing: 1px;
}
#icon {
  background-image: url(../assets/img/logo.gif);
  background-size: cover;
}
#left {
  position: fixed;
}
#right {
  min-height: 100px;
}
h5 {
  position: relative;
  display: inline-block;
  max-width: 90%;
  padding: 20px 0;
  z-index: 100;
  color: #000;
  font-family: "raleway-regular", arial;
  font-size: 16px;
  letter-spacing: 0.5px;
  border: 2px 2px 2px 2px solid #000;
}
.projectimg {
  width: 100%;
  margin-bottom: 5px;
  overflow: hidden;
}
/* Desktop Styles */
#left {
  width: 25%;
  float: left;
}
#right {
  width: 75%;
  float: right;
}
h1 {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 150%;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
}
#icon {
  width: 65%;
  padding-top: 49%;
  margin-top: 50px;
  margin-left: 10%;
}
.thumbbox {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 33.33333%;
  height: 0;
  padding-top: 33.333333%;
  overflow: hidden;
}
.thumbbox .overlay {
  position: absolute;
  top: 0;
  left: 0;
  /* display: none;
    */
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  opacity: 0;
  text-align: center;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
.thumbbox .overlay:before,
.thumbbox .overlay:after {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  content: " ";
  width: 1%;
  height: 100%;
}
.thumbbox .overlay .title {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  max-width: 96%;
  border: 1px solid #aaa;
  border-width: 1px 0;
  padding: 20px 0;
  font-family: "raleway-regular", arial;
  font-weight: bold;
  color: #666;
  line-height: 1.2;
  text-transform: uppercase;
}
.thumbbox:hover .overlay {
  display: block;
  opacity: 0.8;
}
/* SMALL MOBILE STYLES ///////////////////////////////////////////////////////////////////////////////////////////////
/*/
@media only screen and (max-width: 549px) {
  #left {
    float: none;
    position: relative;
    width: 100%;
  }
  #right {
    float: none;
    width: 100%;
  }
  h1 {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 150%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  footer {
    position: relative;
    bottom: 0;
    margin: 0;
    font-size: 10px;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px 0px 20px 0px;
    width: 100%;
  }
  #icon {
    width: 37%;
    padding-top: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
  .thumbbox {
    width: 100%;
    padding-top: 100%;
  }
}
/* LARGE MOBILE STYLES ///////////////////////////////////////////////////////////////////////////////////////////////
/*/
@media only screen and (min-width: 550px) and (max-width: 767px) {
  #left {
    width: 100%;
    position: relative;
  }
  #right {
    width: 100%;
  }
  h1 {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 150%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  footer {
    position: relative;
    bottom: 0;
    margin: 0;
    font-size: 10px;
    text-align: center;
    letter-spacing: 1px;
    padding: 0px 0px 10px 0px;
  }
  #icon {
    width: 25%;
    padding-top: 20%;
    margin-left: 2%;
    margin-right: 5%;
    float: left;
    margin-bottom: 25%;
  }
  .thumbbox {
    width: 50%;
    padding-top: 50%;
    float: left;
  }
}
/* TABLET STYLES ///////////////////////////////////////////////////////////////////////////////////////////////
/*/
@media only screen and (min-width: 768px) and (max-width: 977px) {
  #left {
    width: 25%;
    float: left;
  }
  #right {
    width: 75%;
    float: right;
  }
  h1 {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 150%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
  }
  footer {
    font-size: 8px;
    letter-spacing: 1px;
    margin-left: 25px;
    margin-right: 25px;
    bottom: 15px;
  }
  #icon {
    width: 65%;
    padding-top: 49%;
    margin-top: 50px;
    margin-left: 10%;
  }
  .thumbbox {
    width: 50%;
    padding-top: 50%;
    float: left;
  }
}
/* DESKTOP STYLES ///////////////////////////////////////////////////////////////////////////////////////////////
/*/
@media only screen and (min-width: 978px) {
}
