<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" / >
    <title>Sam Schuna | {{ page.title }}</title>
    <meta name="keywords" content="design, illustration, designer, illustrator, minnesota, minneapolis," />
    <meta name="description" content="{{ site.description }}" />
    <link href="css/fonts.css" rel="stylesheet" type="text/css" />
    <link href="css/reset.css" rel="stylesheet" type="text/css" />
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.mobile.custom.min.js"></script>
  </head>
  <body>
    <section class="container">
      <div id="left">
        <a href="{{ site.url }}">
          <div id="icon"></div>
        </a>
        <h1>
          {{ page.title }}</br></br>
          {{ page.description }}</br></br>
        </h1>
      </div>
      <div id="right">
        {{ content }}

        {% assign images = site.static_files | where: "image", true %}
        {% for image in images %}
          {% assign permalink = page.permalink %}
          {% if image.path contains permalink %}
            {% unless image.path contains "thumb" %}
              <img class="projectimg" src="{{ image.path }}" />
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>
    </section>
    <footer>Copyright &copy; {{ "now" | date: "%Y" }} Sam Schuna</footer>
    <script type="text/javascript" src="js/custom_behaviors.js"></script>
  </body>
</html>
